.sidebar {
    height: 100vh;

    /* Effet transparent */
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);

    border-right: 1px solid rgba(255,255,255,0.3);

    padding: 20px 10px;
    display: flex;
    flex-direction: column;

    /* effet ombre */
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-title {
    color: #101616;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 18px;
}

.sidebar-link {
    color: #101616;
    text-decoration: none;
    margin: 12px 0;
    font-weight: 600;
    padding: 8px 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.sidebar-link:hover {
    background: rgba(255,255,255,0.4);
    transform: translateX(4px);
}
